/* ---------------------------------------- */

/* 测量样式 */

.ol-tooltip {
  position: relative;
  background: white;
  border-radius: 4px;
  color: black;
  padding: 4px 8px;
  /* opacity: 0.7; */
  white-space: nowrap;
  font-size: 12px;
}

.ol-tooltip-measure {
  opacity: 1;
  font-weight: bold;
}

.ol-tooltip-static {
  background: white;
  color: black;
  border: 1px solid white;
}

.ol-tooltip>p {
  margin: 3px 0px;
}

.ol-tooltip-measure:before, .ol-tooltip-static:before {
  border-top: 6px solid rgba(0, 0, 0, 0.5);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
}

.ol-tooltip-static:before {
  border-top-color: #ffcc33;
}

/* ol 默认样式 */

.ol-box {
  box-sizing: border-box;
  border-radius: 2px;
  border: 2px solid blue;
}

.ol-mouse-position {
  top: 8px;
  right: 8px;
  position: absolute;
}

.ol-scale-line {
  background: rgba(0, 60, 136, 0.3);
  border-radius: 4px;
  bottom: 8px;
  left: 8px;
  padding: 2px;
  position: absolute;
}

.ol-scale-line-inner {
  border: 1px solid #eee;
  border-top: none;
  color: #eee;
  font-size: 10px;
  text-align: center;
  margin: 1px;
  will-change: contents, width;
  transition: all 0.25s;
}

.ol-scale-bar {
  position: absolute;
  bottom: 8px;
  left: 8px;
}

.ol-scale-step-marker {
  width: 1px;
  height: 15px;
  background-color: #000000;
  float: right;
  z-Index: 10;
}

.ol-scale-step-text {
  position: absolute;
  bottom: -5px;
  font-size: 12px;
  z-Index: 11;
  color: #000000;
  text-shadow: -2px 0 #FFFFFF, 0 2px #FFFFFF, 2px 0 #FFFFFF, 0 -2px #FFFFFF;
}

.ol-scale-text {
  position: absolute;
  font-size: 14px;
  text-align: center;
  bottom: 25px;
  color: #000000;
  text-shadow: -2px 0 #FFFFFF, 0 2px #FFFFFF, 2px 0 #FFFFFF, 0 -2px #FFFFFF;
}

.ol-scale-singlebar {
  position: relative;
  height: 10px;
  z-Index: 9;
  border: 1px solid black;
}

.ol-unsupported {
  display: none;
}

.ol-viewport, .ol-unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ol-overlaycontainer, .ol-overlaycontainer-stopevent {
  pointer-events: none;
}

.ol-overlaycontainer>*, .ol-overlaycontainer-stopevent>* {
  pointer-events: auto;
}

.ol-selectable {
  -webkit-touch-callout: default;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.ol-grabbing {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.ol-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.ol-control {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  padding: 2px;
}

.ol-control:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.ol-zoom {
  top: .5em;
  left: .5em;
}

.ol-rotate {
  top: .5em;
  right: .5em;
  transition: opacity .25s linear, visibility 0s linear;
}

.ol-rotate.ol-hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity .25s linear, visibility 0s linear .25s;
}

.ol-zoom-extent {
  top: 4.643em;
  left: .5em;
}

.ol-full-screen {
  right: .5em;
  top: .5em;
}

.ol-control button {
  display: block;
  margin: 1px;
  padding: 0;
  color: white;
  font-size: 1.14em;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  height: 1.375em;
  width: 1.375em;
  line-height: .4em;
  background-color: rgba(0, 60, 136, 0.5);
  border: none;
  border-radius: 2px;
}

.ol-control button::-moz-focus-inner {
  border: none;
  padding: 0;
}

.ol-control button span {
  pointer-events: none;
}

.ol-zoom-extent button {
  line-height: 1.4em;
}

.ol-compass {
  display: block;
  font-weight: normal;
  font-size: 1.2em;
  will-change: transform;
}

.ol-touch .ol-control button {
  font-size: 1.5em;
}

.ol-touch .ol-zoom-extent {
  top: 5.5em;
}

.ol-control button:hover, .ol-control button:focus {
  text-decoration: none;
  background-color: rgba(0, 60, 136, 0.7);
}

.ol-zoom .ol-zoom-in {
  border-radius: 2px 2px 0 0;
}

.ol-zoom .ol-zoom-out {
  border-radius: 0 0 2px 2px;
}

.ol-attribution {
  text-align: right;
  bottom: .5em;
  right: .5em;
  max-width: calc(100% - 1.3em);
}

.ol-attribution ul {
  margin: 0;
  padding: 0 .5em;
  color: #000;
  text-shadow: 0 0 2px #fff;
}

.ol-attribution li {
  display: inline;
  list-style: none;
}

.ol-attribution li:not(:last-child):after {
  content: " ";
}

.ol-attribution img {
  max-height: 2em;
  max-width: inherit;
  vertical-align: middle;
}

.ol-attribution ul, .ol-attribution button {
  display: inline-block;
}

.ol-attribution.ol-collapsed ul {
  display: none;
}

.ol-attribution:not(.ol-collapsed) {
  background: rgba(255, 255, 255, 0.8);
}

.ol-attribution.ol-uncollapsible {
  bottom: 0;
  right: 0;
  border-radius: 4px 0 0;
}

.ol-attribution.ol-uncollapsible img {
  margin-top: -.2em;
  max-height: 1.6em;
}

.ol-attribution.ol-uncollapsible button {
  display: none;
}

.ol-zoomslider {
  top: 4.5em;
  left: .5em;
  height: 200px;
}

.ol-zoomslider button {
  position: relative;
  height: 10px;
}

.ol-touch .ol-zoomslider {
  top: 5.5em;
}

.ol-overviewmap {
  left: 0.5em;
  bottom: 0.5em;
}

.ol-overviewmap.ol-uncollapsible {
  bottom: 0;
  left: 0;
  border-radius: 0 4px 0 0;
}

.ol-overviewmap .ol-overviewmap-map, .ol-overviewmap button {
  display: inline-block;
}

.ol-overviewmap .ol-overviewmap-map {
  border: 1px solid #7b98bc;
  height: 150px;
  margin: 2px;
  width: 150px;
}

.ol-overviewmap:not(.ol-collapsed) button {
  bottom: 1px;
  left: 2px;
  position: absolute;
}

.ol-overviewmap.ol-collapsed .ol-overviewmap-map, .ol-overviewmap.ol-uncollapsible button {
  display: none;
}

.ol-overviewmap:not(.ol-collapsed) {
  background: rgba(255, 255, 255, 0.8);
}

.ol-overviewmap-box {
  border: 2px dotted rgba(0, 60, 136, 0.7);
}

.ol-overviewmap .ol-overviewmap-box:hover {
  cursor: move;
}

.deleteIcon {
  position: absolute;
  transform: translate(50%, -50%);
  right: 0px;
  top: 0px;
  border-radius: 50%;
  color: white;
  background-color: red;
  padding: 0 7px;
  cursor: pointer;
}

/* ---------------------------------------- */

/*  利用after和before伪元素实现顶部弹窗样式  */
.topPopup {
  background-color: #eeeeee;
  color: #000000;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  margin-bottom: 5px;

  -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
}
.topPopup:after, .topPopup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.topPopup:after {
  border-top-color: #eeeeee;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}
.topPopup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 50%;
  margin-left: -11px;
}
/*  利用after和before伪元素实现右侧弹窗样式  */
.rightPopup {
  position: absolute;
  background-color: #eeeeee;
  color: #000000;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  padding: 0px 0px 0px 5px;
  border-radius: 2px;
  border: 1px solid #cccccc;
  left: 20px;
  top: -4px;
  min-width: 187px;
}
.rightPopup:after, .rightPopup:before {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.rightPopup:after {
  border-right-color: #eeeeee;
  border-width: 10px;
  left: -10px;
  top: 50%;
  margin-top: -10px;
  margin-left: -10px;
}
.rightPopup:before {
  border-right-color: #cccccc;
  border-width: 11px;
  left: -11px;
  top: 50%;
  margin-top: -11px;
  margin-left: -11px;
}

.popupImgNav {
  height:32px;
  width:32px;
  background-color: #22222222;
  cursor: pointer;
  float:right;
}
.popupTextNav {
  line-height:32px;
  width:150px;
  cursor: default;
}
.divEllipsis {
  word-break:keep-all;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

/*  气泡样式  */
.ol-popup {
  position: absolute;
  background-color: #eeeeee;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}

.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ol-popup:after {
  border-top-color: #eeeeee;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

.ol-popup__content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.commonDivHeight {
  height: 21px;
  line-height: 21px;
}
/*详情弹窗倒立小三角样式*/
.invertedTriangle:after, .invertedTriangle:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  margin-top: -6px;
}
.invertedTriangle:after {
  border-top-color: #1EB0FC;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}
.invertedTriangle:before {
  border-top-color: #1EB0FC;
  border-width: 11px;
  left: 50%;
  margin-left: -11px;
}
/*设备详情样式*/
.devDetail {
  position: relative;
  width: 432px;
  height: 237px;
  background-image: url('../images/device-box.png');
  color: white;
}
.titleInfo {
  position: absolute;
  box-sizing: border-box;
  width: 202px;
  height: 45px;
  background: url(../images/info-title.png) no-repeat;
  line-height: 45px;
  padding-left: 35px;
  top: 15px;
  left: 14px;
  font-size: 18px;
}
.typeImg {
  position: absolute;
  box-sizing: border-box;
  width: 141px;
  height: 142px;
  top: 70px;
  left: 20px;
}
.devName {
  position: absolute;
  top: 70px;
  left: 185px;
}
.devNameValue {
  position: absolute;
  top: 70px;
  left: 260px;
  width: 155px;
}
.devCode {
  position: absolute;
  top: 100px;
  left: 185px;
}
.devCodeValue {
  position: absolute;
  top: 100px;
  left: 260px;
  width: 150px;
}
.devBrand {
  position: absolute;
  top: 130px;
  left: 185px;
}
.devBrandValue {
  position: absolute;
  top: 130px;
  left: 260px;
  width: 155px;
}
.devStatus {
  position: absolute;
  top: 160px;
  left: 185px;
}
.devStatusValue {
  position: absolute;
  top: 160px;
  left: 260px;
}
.devAddr {
  position: absolute;
  top: 190px;
  left: 185px;
}
.devAddrValue {
  position: absolute;
  top: 190px;
  left: 260px;
  width: 155px;
}

/*火点详情样式*/
.fireDetail {
  position: relative;
  width: 632px;
  height: 359px;
  background-image: url('../images/fire-box.png');
  color: white;
}
.fireTime {
  position: absolute;
  top: 70px;
  left: 38px;
}
.fireTimeValue {
  position: absolute;
  top: 70px;
  left: 80px;
}
.fireAddr {
  position: absolute;
  top: 70px;
  left: 283px;
}
.fireAddrValue {
  position: absolute;
  top: 70px;
  left: 325px;
  width: 270px;
}
.fireDev {
  position: absolute;
  top: 100px;
  left: 38px;
}
.fireDevValue {
  position: absolute;
  top: 100px;
  left: 115px;
}
.fireLonLat {
  position: absolute;
  top: 100px;
  left: 283px;
}
.fireLonLatValue {
  position: absolute;
  top: 100px;
  left: 325px;
}
.copyBtn {
  position: absolute;
  top: 100px;
  left: 502px;
  background:rgba(30,176,252,1);
  color:rgba(255,255,255,1);
}
.leftImg {
  top: 140px;
  left: 50px;
  background-color: rgba(0, 128, 128, 0.3);
}
.oneImg {
  position: absolute;
  top: 140px;
  left: 195px;
  background-color: rgba(128, 128, 128, 0.3);
  width: 241px;
  height: 165px;
  cursor: pointer;
  visibility: hidden;
}
.rightImg {
  top: 140px;
  left: 341px;
  background-color: rgba(128, 128, 0, 0.3);
}
.imgCommon {
  position: absolute;
  width: 241px;
  height: 165px;
  cursor: pointer;
}
.noImgInfo {
  position: absolute;
  top: 200px;
  left: 275px;
  font-size: 18px;
  color:rgba(255,255,255,1);
}
.misreportBtn {
  position: absolute;
  top: 320px;
  left: 400px;
  color:rgba(30,176,252,1);
}
.confirmBtn {
  position: absolute;
  top: 320px;
  left: 502px;
  background:rgba(30,176,252,1);
  color:rgba(255,255,255,1);
}
.btnCommon {
  width: 87px;
  height: 20px;
  border:1px solid rgba(30,176,252,1);
  border-radius:4px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}