.rpDivBoxComm {
  position: relative;
  padding: 5px 14px;
  border: 1px solid #1EB0FC;
  background-color: #121E3AD8;
  color: #FFFFFF;
  font-size: 14px;
  cursor: default;
}
/*详情弹窗倒立小三角样式*/
.rpInvertedTriangle:after, .rpInvertedTriangle:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  margin-top: 0px;
}
.rpInvertedTriangle:after {
  border-top-color: #1EB0FC;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}
.rpInvertedTriangle:before {
  border-top-color: #1EB0FC;
  border-width: 11px;
  left: 50%;
  margin-left: -11px;
}

.rpInstitutionBox {
  width: 330px;
  height: 160px;
}
.rpPoliceBox {
  width: 330px;
  height: 190px;
}
.rpCameraBox {
  width: 330px;
  height: 180px;
}
.rpDroneBox {
  width: 330px;
  height: 180px;
}
.rpShipBox {
  width: 330px;
  height: 160px;
}
.rpWarningBox {
  width: 330px;
  height: 210px;
}
.rpRegionBox {
  width: 330px;
  height: 100px;
}

.rpTitleBox {
  height: 25px;
  padding-bottom: 5px;
  border-bottom: 1px solid #1EB0FC;
}
.rpTitleImg {
  position: absolute;
  top: 9px;
  width: 21px;
  height: 16px;
  background-image: url('../images/rpTitleImg.png');
}
.rpTitleText {
  position: absolute;
  top: 7px;
  left: 48px;
}

.rpContentBox {
  margin-top: 10px;
  height: 20px;
  line-height: 20px;
}
.rpNameComm {
  display: inline-block;
  vertical-align: top;
}
.rpValueComm {
  margin-left: 3px;
  display: inline-block;
  width: 240px;
  word-break:keep-all;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.rpGotoDetail {
  position: absolute;
  right: 14px;
  bottom: 10px;
  color: #1EB0FC;
  text-decoration: underline;
  cursor: pointer;
}

.rpInfoBox {
  width: 330px;
  padding: 0px 14px;
  border: 1px solid #1EB0FC;
  background-color: #121E3AD8;
  color: #FFFFFF;
  font-size: 14px; 
}

.rpInfoBox .titleBox{
  height: 35px;
  box-sizing: border-box;
  border-bottom: 1px solid #1EB0FC;
}

.rpInfoBox .ulBox{
  padding: 7px 0px;
}

.rpInfoBox .ulBox ul li {
  word-break: break-all;
}

.rpInfoBox .titleBox span:nth-child(1)
{
  position: absolute;
  width: 21px;
  height: 16px;
  top:10px;
  background-image: url('../images/rpTitleImg.png');
}

.rpInfoBox .titleBox span:nth-child(2)
{
  position: absolute;
  line-height: 35px;
  left: 48px;
}

.rpInfoBox .titleBox span:nth-child(3)
{
  position: absolute;
  width: 12px;
  height: 12px;
  top:11px;
  right: 11px;
  background-image: url('../images/close.png');
  cursor: pointer;
}

.rpInfoBox .ulBox ul li span {
  line-height: 30px;
}

.rpInfoBox .phoneBox, .rpInfoBox .assignBox
{
  position: relative;
  display: inline-block;
  width: 82px;
  height: 28px;
  background: #1EB0FC;
  margin-bottom: 20px;
  font-size: 14px;
  cursor: pointer;
  margin-right: 18px;
}

.rpInfoBox .phoneBox span:nth-child(1), .rpInfoBox .assignBox span:nth-child(1)
{
  position: absolute;
  width: 20px;
  height: 20px;
  top: 4px;
  left: 6px;
  background-image: url('../images/phone.png');
}

.rpInfoBox .assignBox span:nth-child(1){
  background-image: url('../images/people.png');
}

.rpInfoBox .phoneBox span:nth-child(2),.rpInfoBox .assignBox span:nth-child(2)
{
  position: absolute;
  line-height: 28px;
  left: 39px;
}

.rpInfoBox .numberBox span:nth-child(2),.rpInfoBox .numberBox span:nth-child(5)
{
  color: #66FF00;
  font-size: 18px;
}

.rpInfoBox .numberBox span:nth-child(4)
{
  margin-left: 48px;
}

/* overlay在最上层 */
.ol-overlaycontainer-stopevent {
  z-index: 100 !important;
}