.el-notification {
  border: 1px solid rgb(103, 194, 58);
  background: #142943;
  z-index: 10000000 !important;

  .el-notification__title,
  .el-notification__content,
  .el-icon-close {
    color: #fff !important;
  }
}

.el-button {
  width: 140px;
}

// 地图组件中-路线规划输入框前后缀样式
.el-input-group__prepend {
  padding: 0px 10px;
}

.el-input-group__append {
  margin: 0px;
  padding: 0px 10px;
}

//回放视频下载弹窗中，分页组件的页面数选择下拉框的样式
.el-select-dropdown.pageSelect {
  border: 1px solid rgba(54, 143, 187, 1);
  background-color: #0f283c;

  .el-select-dropdown__item {
    color: rgba(54, 143, 187, 1);
    height: 24px;
    line-height: 24px;
  }

  .el-select-dropdown__item.selected {
    color: #fff;
  }

  .el-select-dropdown__item.hover,
  .el-select-dropdown__item:hover {
    background-color: transparent;
  }

  .popper__arrow {
    display: none !important;
  }
}

//表格分页组件样式
.tablePagination.el-pagination {
  margin-top: 10px;

  .el-pagination__sizes {
    margin: -2px 10px 0 0;
  }

  .el-pagination__total {
    height: 24px;
    line-height: 24px;
  }

  span {
    color: #fff;
    font-size: 13px;
  }

  .el-pager .more::before {
    line-height: 24px;
  }

  .el-pager li {
    border: 1px solid rgba(60, 154, 206, 1);
    border-radius: 4px;
    width: 24px;
    height: 24px;
    background: transparent;
    text-align: center;
    line-height: 24px;
    color: rgba(60, 154, 206, 1);
    font-size: 13px;
    padding: 0px;
    min-width: 24px;
    margin-right: 10px;
  }

  .el-pager li.active {
    background: rgba(60, 154, 206, 1);
    color: #fff;
  }

  .btn-prev {
    margin-right: 10px;
  }

  button {
    padding: 0px !important;
    background-color: transparent;
    min-width: 24px;
    height: 24px;

    i {
      border: 1px solid rgba(60, 154, 206, 1);
      border-radius: 4px;
      width: 22px;
      height: 22px;
      background: transparent;
      text-align: center;
      line-height: 22px;
      color: rgba(60, 154, 206, 1);
      font-size: 16px;
      padding: 0px;
    }
  }

  button:active {
    i {
      background: rgba(60, 154, 206, 1);
      color: #fff;
    }
  }

  button[disabled] {
    i {
      background: transparent;
      color: rgba(60, 154, 206, 1);
    }
  }

  .el-input__inner {
    border-radius: 0px;
    width: 100px;
    height: 24px;
    line-height: 24px;
    border: 1px solid rgba(54, 143, 187, 1);
    padding: 0px 30px 0px 10px;
    background: transparent;
    color: rgba(54, 143, 187, 1);
  }

  .el-input__icon {
    color: rgba(54, 143, 187, 1);
    line-height: 28px;
  }
}

// 火点火情页面图片显示弹窗样式
.el-dialog-custom {
  width: 1080px;

  .el-dialog__header {
    display: none;
  }

  .el-dialog__body {
    width: 1080px;
    height: 720px;
    padding: 0px;
  }

  #iframe {
    width: 100%;
    height: 100%;
  }

  .picture,
  .video {
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
}

// 地图底图选择弹窗样式
.el-popover-custom {
  padding: 10px 12px 4px 12px;
  background-color: #00000066;
  border: none;

  .popper__arrow {
    display: none;
  }
}

.el-popover-custom:after {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  left: 100%;
  top: 50%;
  margin-top: -10px;
  border-left-color: #00000066;
  border-width: 10px;
}

// 设置-用户管理-更多-弹窗
.el-popover-more {
  background-color: #00000066;
  border: none;
}

.el-popover-more[x-placement^="right"] .popper__arrow::after {
  border-right-color: #00000066;
}

.el-popover-more[x-placement^="right"] .popper__arrow {
  border-right-color: #00000066;
}

.el-popover-more[x-placement^="left"] .popper__arrow::after {
  border-left-color: #00000066;
}

.el-popover-more[x-placement^="left"] .popper__arrow {
  border-left-color: #00000066;
}

.home {
  .el-input__inner {
    height: 34px;
    line-height: 34px;
  }

  .el-input__icon {
    line-height: 34px;
  }
}

.el-message-box {
  display: inline-block;
  width: 490px;
  height: 190px;
  background-color: transparent;
  background: url(../assets/images/confirm-bg.png) no-repeat;
  border-radius: 0px;
  border: none;
  box-shadow: none;
  padding-bottom: 0px;
  position: relative;

  .el-button {
    width: 87px;
    height: 32px;
    border: 1px solid #1eb0fc;
    border-radius: 4px;
    font-size: 16px;
    padding: 0px;
    line-height: 32px;
    background-color: transparent;
    color: #1fb0fc;
  }

  .el-button--primary {
    background-color: #1eb0fc;
    color: #fff;
  }

  .el-message-box__header {
    padding: 0px;
    display: inline-block;
    width: 202px;
    height: 45px;
    background: url(../assets/images/info-title.png) no-repeat;
    margin-top: 10px;
    margin-left: 10px;
  }

  .el-message-box__title {
    padding-left: 40px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 45px;
    color: #ffff;
  }

  .el-message-box__content {
    text-align: center;
    padding: 0px;
    color: #1fb0fc;
    font-size: 18px;
    padding: 18px 0px;
  }

  .el-message-box__btns {
    position: absolute;
    bottom: 20px;
    padding: 0px;
    right: 30px;
  }
}

//tooltip样式
.el-tooltip__popper .popper__arrow,
.el-tooltip__popper .popper__arrow::after {
  display: none;
}

.el-tooltip__popper.is-dark {
  background: #2e6c93;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
}

.gTooltip.el-tooltip__popper.is-dark {
  margin-bottom: 20px;
  padding: 3px 10px;
  background: #2e6c93;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
}

.marsTooltip.el-tooltip__popper.is-dark {
  margin-bottom: 10px !important;
}

.plotTooltip.el-tooltip__popper.is-dark {
  margin-bottom: 4px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}

input[type="number"] {
  -moz-appearance: textfield;
}

//后台管理模块表格样式
/* 删除表格下横线 */
.manageTable.el-table::before {
  height: 0px;
}

.manageTable.el-table {
  color: #c5f3ff;
  background: transparent;
  border: none;
  height: 740px !important;
  /* 表格表头样式 */
  .el-table__header-wrapper th {
    color: #c5f3ff;
    font-size: 16px;
    height: 40px;
    padding: 0;
    background-color: rgba(53, 176, 220, 0.66);
  }

  /* 表格每行高度*/
  .el-table__body td {
    background-color: transparent;
    font-size: 16px;
    padding: 0;
    height: 45px;
  }

  /* 所有单元格颜色、无边框 */
  td,
  tr,
  th {
    border: none;
    background-color: transparent;
  }

  .el-table__body-wrapper table tr:hover td {
    background: rgba(15, 95, 134, 0.5);
  }

  /* 复选框样式 */
  .el-checkbox__inner {
    background-color: transparent;
    border-color: #c5f3ff;
    border-radius: 0px;
  }

  /*鼠标移入某行时的背景色*/
  tbody tr:hover > td {
    background-color: transparent;
  }
}

/* table头部操作工具 */
.mainBox {
  box-sizing: border-box;
  padding: 12px 15px;
  .toolBox {
    display: flex;
    align-items: center;

    .select,
    .search {
      width: 150px;
      height: 34px;

      .el-input__inner {
        background: rgba(9, 84, 109, 0.3);
        border-radius: 0px;
        border: 1px solid #1eb0fc;
        color: #c5f3ff;
      }
    }

    .el-cascader {
      line-height: 34px;
    }

    .search {
      width: 450px;
      margin-left: 10px;
      margin-right: 10px;

      /deep/.el-input__inner {
        color: #fff;
      }
    }

    .btn {
      box-sizing: border-box;
      width: 80px;
      height: 34px;
      background: linear-gradient(120deg, #086384, #0b779e);
      display: flex;
      align-items: center;
      cursor: pointer;

      span {
        color: #c5f3ff;
      }

      img {
        margin-right: 6px;
        margin-left: 9px;
      }
    }

    .resetBtn {
      margin-left: 10px;
    }
  }

  .tablTool {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 41px;
    margin-bottom: 13px;

    .left {
      span:nth-child(2) {
        color: #1d9fe5;
      }

      span:nth-child(4) {
        margin-left: 30px;
        color: #1d9fe5;
        border-bottom: solid 1px #1d9fe5;
        cursor: pointer;
      }
    }

    .right {
      margin-left: 15px;

      span {
        text-align: center;
        display: inline-block;
        width: 54px;
        height: 30px;
        background: #1eb0fc;
        cursor: pointer;
        line-height: 30px;
      }

      span:nth-child(2) {
        width: 96px;
        margin-left: 12px;
        background: #ff0000;
      }
    }
  }
}

/* 弹窗公共wrapper */
.dialog-wrap {
  .el-dialog__header {
    display: none;
  }

  .el-dialog__body {
    padding: 0 20px;
    // width: 100%;
    border: 1px solid #00a7e8;
    // background-color: #121e3a;
    background: rgba(0, 65, 87, 0.85) repeat;

    .add-dict-header {
      height: 40px;
      border-bottom: 1px solid #00a7e8;

      .header-icon {
        display: inline-block;
        width: 22px;
        height: 16px;
        background-image: url("../assets/images/fire_title.png");
        margin-top: 15px;
      }

      .header-text {
        display: inline-block;
        vertical-align: top;
        font-size: 14px;
        color: #fff;
        margin: 13px 0 0 10px;
      }
    }
  }
}

/* 图标input框样式 */
.iconTool {
  display: inline-block;
  height: 40px;
  vertical-align: middle;
  width: 150px;

  .icon {
    margin-top: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .chooseBox {
    display: inline-block;
    width: 86px;
    height: 24px;
    border: 1px solid #1ea7f0;
    color: #aaa;
    font-size: 12px;
    line-height: 24px;
    margin: 8px 24px auto 8px;
    vertical-align: top;
    cursor: pointer;

    .btn {
      width: 12px;
      height: 12px;
      margin: 6px auto auto 10px;
      vertical-align: top;
    }
  }
}

.handelBtns {
  margin: 25px 20px 20px 0;
  text-align: right;

  span {
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    width: 66px;
    height: 30px;
    background: transparent;
    border: 1px solid #1eb0fc;
    border-radius: 4px;
    font-size: 14px;
    line-height: 30px;
    color: #1eb0fc;
    text-align: center;
  }

  span:active {
    opacity: 0.8;
  }

  span:nth-child(2) {
    margin-left: 20px;
    background: #1eb0fc;
    color: #fff;
  }
}

//调度平台新增案件，人员分派下拉选框弹窗
.people-selec-Popper {
  font-size: 14px;

  .search {
    margin-bottom: 14px;

    .el-input__suffix {
      width: 16px;
      height: 21px;
      background: url("../assets/images/gisDispatch/search.svg");
      background-size: 100% 100%;
      top: 4px;
      right: 14px;
    }

    .el-input__inner {
      color: #00caf6;
      width: 308px;
      height: 30px;
      line-height: 30px;
      border: 1px solid #00d2ff;
      border-radius: 0px;
      background: rgba(9, 84, 109, 0.3);
    }
  }
}

.people-selec-Popper.el-select-dropdown {
  padding: 10px;
  border-radius: 0px;
  background: #053d4f;
  border: 1px solid #00d2ff;

  .el-select-dropdown__item {
    color: #fff;
    height: 20px;
    line-height: 20px;
    margin-bottom: 12px;
    padding: 0px;

    .check {
      display: inline-block;
      width: 14px;
      height: 14px;
      background: url("../assets/images/gisDispatch/unselect.svg");
      background-size: 100% 100%;
      position: relative;
      top: 3px;
      margin-right: 15px;
    }
  }

  .el-select-dropdown__item.hover,
  .el-select-dropdown__item:hover {
    background-color: transparent;
  }

  .el-select-dropdown__item.selected.hover {
    background-color: transparent;
  }

  .el-select-dropdown__item.selected {
    color: #fff;
    background-color: transparent;
    font-weight: 400;
  }

  .el-select-dropdown__item.selected .check {
    background: url("../assets/images/gisDispatch/select.svg");
    background-size: 100% 100%;
  }

  .el-select-dropdown__item.selected::after {
    display: none;
  }
}

.people-selec-Popper.el-popper {
  margin-top: 0px;

  .el-select-dropdown__list {
    padding: 0px;
  }

  .popper__arrow {
    display: none;
  }
}
