.mars3d .label {
  height    : 28px;
  width     : 120px;
  box-sizing: border-box;
  border    : 1px solid rgba(0, 228, 255, 1);
  background: rgba(19, 40, 73, 1);
  opacity   : 0.8;
  cursor    : pointer;
  padding   : 3px 10px;
}

.mars3d .labelxfs {
  img {
    display     : inline-block;
    width       : 13px;
    height      : 15px;
    //background  : url(../assets/images/3d/xiaofangshuan.png) no-repeat;
    margin-top  : 3px;
    margin-right: 13px;
  }

  span {
    font-size: 12px;
    color    : #ffffff;
    position : relative;
    top      : -4px;
  }

}

.mars3d .labelbf {

  span:nth-child(1) {
    display     : inline-block;
    width       : 18px;
    height      : 16px;
    background  : url(../assets/images/3d/pumphouse.png) no-repeat;
    margin-top  : 3px;
    margin-right: 13px;
  }

  span:nth-child(2) {
    font-size: 12px;
    color    : #ffffff;
    position : relative;
    top      : -4px;
  }
}

.mars3d .popup-bg {
  display   : inline-block;
  width     : 432px;
  height    : 237px;
  background: url(../../public/assets/images/device-box.png) no-repeat;
}

.mars3d .popup-right {
  right     : 52px;
  position  : absolute;
  display   : inline-block;
  width     : 341px;
  height    : 550px;
  background: url(../assets/images/3d/info-box.png) no-repeat;
}

.mars3d .model-label {
  display: flex;
  flex-direction: column;
  align-items:center;
  span{
    font-size: 18px;
    color: #ffffff;
  }
  span:nth-child(2) {
    color: rgba(0,156,255,1);
  }
}